# ESCOLA DE PROGRAMAÇAO

### Importando e concatenando

In [199]:
import pandas as pd

In [200]:
nomes_f = pd.read_json('https://servicodados.ibge.gov.br/api/v1/censos/nomes/ranking?qtd=20&sexo=f')
nomes_m = pd.read_json('https://servicodados.ibge.gov.br/api/v1/censos/nomes/ranking?qtd=20&sexo=m')

In [201]:
#para sortear nomes na tabela, sempre alterando.
nomes_f.sample(5)

       nome  regiao      freq  rank sexo
0     MARIA       0  11694738     1    F
17  LUCIANA       0    429769    18    F
12   AMANDA       0    464624    13    F
15  LETICIA       0    434056    16    F
9     ALINE       0    509869    10    F

In [202]:
#dados armazenados nas variaveis
print('Quantidade de nomes: ' + str(len(nomes_f) + len(nomes_m)))
# para concatenar tenho que transformar tudo no mesmo tipo, por isso o STR

Quantidade de nomes: 40

In [203]:
#juntar as listas
frames = [nomes_f, nomes_m]

In [204]:
nomes = pd.concat(frames)['nome'].to_frame()
#Vai pegar as tabelas que quero ajuntar (frames) e vou escolher quais colunas eu quero ['nome'.....]

nomes.head(2)

    nome
0  MARIA
1    ANA

### Incluindo dados

In [205]:
import numpy as np

In [206]:
teste = np.random.seed(123) #sempre vai gerar um numero aleatorio apos o selecionado aqui.

In [207]:
total_alunos = len(nomes)
total_alunos

40

In [208]:
nomes['id_aluno'] = np.random.permutation(total_alunos) + 1 
#vai criar uma nova colune e gerar um numero ID aleatorio para cada nome

In [209]:
nomes.sample(3)

        nome  id_aluno
8   PATRICIA        14
15     BRUNO        20
0       JOSE        26

In [210]:
#criando dominios de email para os alunos
dominios = ['@dominioemail.com.br', '@servicoemail.com.br'] #Cria lista dos dominios de email
nomes['dominio'] = np.random.choice(dominios, total_alunos) #parametro para criar para todos um email

nomes

         nome  id_aluno               dominio
0       MARIA         7  @dominioemail.com.br
1         ANA        11  @servicoemail.com.br
2   FRANCISCA        13  @servicoemail.com.br
3     ANTONIA        39  @servicoemail.com.br
4     ADRIANA         6  @dominioemail.com.br
5     JULIANA        12  @servicoemail.com.br
6      MARCIA        24  @servicoemail.com.br
7    FERNANDA         2  @dominioemail.com.br
8    PATRICIA        14  @dominioemail.com.br
9       ALINE        21  @servicoemail.com.br
10     SANDRA         9  @servicoemail.com.br
11     CAMILA        38  @dominioemail.com.br
12     AMANDA        25  @servicoemail.com.br
13      BRUNA         8  @servicoemail.com.br
14    JESSICA        19  @servicoemail.com.br
15    LETICIA        40  @servicoemail.com.br
16      JULIA         4  @servicoemail.com.br
17    LUCIANA        32  @servicoemail.com.br
18    VANESSA        22  @servicoemail.com.br
19    MARIANA        17  @dominioemail.com.br
0        JOSE        26  @servicoemail.com.br
1        JOAO         5  @servicoemail.com.br
2     ANTONIO        27  @servicoemail.com.br
3   FRANCISCO        36  @servicoemail.com.br
4      CARLOS        30  @dominioemail.com.br
5       PAULO        28  @dominioemail.com.br
6       PEDRO        15  @dominioemail.com.br
7       LUCAS         1  @servicoemail.com.br
8        LUIZ        10  @servicoemail.com.br
9      MARCOS        16  @dominioemail.com.br
10       LUIS        31  @dominioemail.com.br
11    GABRIEL        37  @servicoemail.com.br
12     RAFAEL        33  @servicoemail.com.br
13     DANIEL        34  @dominioemail.com.br
14    MARCELO        23  @dominioemail.com.br
15      BRUNO        20  @dominioemail.com.br
16    EDUARDO        18  @servicoemail.com.br
17     FELIPE        35  @dominioemail.com.br
18   RAIMUNDO        29  @servicoemail.com.br
19    RODRIGO         3  @servicoemail.com.br

In [211]:
#concatenar o nome com o dominio do email em letras minusculas
nomes['email'] = nomes.nome.str.cat(nomes.dominio).str.lower()

nomes

         nome  id_aluno               dominio                          email
0       MARIA         7  @dominioemail.com.br      maria@dominioemail.com.br
1         ANA        11  @servicoemail.com.br        ana@servicoemail.com.br
2   FRANCISCA        13  @servicoemail.com.br  francisca@servicoemail.com.br
3     ANTONIA        39  @servicoemail.com.br    antonia@servicoemail.com.br
4     ADRIANA         6  @dominioemail.com.br    adriana@dominioemail.com.br
5     JULIANA        12  @servicoemail.com.br    juliana@servicoemail.com.br
6      MARCIA        24  @servicoemail.com.br     marcia@servicoemail.com.br
7    FERNANDA         2  @dominioemail.com.br   fernanda@dominioemail.com.br
8    PATRICIA        14  @dominioemail.com.br   patricia@dominioemail.com.br
9       ALINE        21  @servicoemail.com.br      aline@servicoemail.com.br
10     SANDRA         9  @servicoemail.com.br     sandra@servicoemail.com.br
11     CAMILA        38  @dominioemail.com.br     camila@dominioemail.com.br
12     AMANDA        25  @servicoemail.com.br     amanda@servicoemail.com.br
13      BRUNA         8  @servicoemail.com.br      bruna@servicoemail.com.br
14    JESSICA        19  @servicoemail.com.br    jessica@servicoemail.com.br
15    LETICIA        40  @servicoemail.com.br    leticia@servicoemail.com.br
16      JULIA         4  @servicoemail.com.br      julia@servicoemail.com.br
17    LUCIANA        32  @servicoemail.com.br    luciana@servicoemail.com.br
18    VANESSA        22  @servicoemail.com.br    vanessa@servicoemail.com.br
19    MARIANA        17  @dominioemail.com.br    mariana@dominioemail.com.br
0        JOSE        26  @servicoemail.com.br       jose@servicoemail.com.br
1        JOAO         5  @servicoemail.com.br       joao@servicoemail.com.br
2     ANTONIO        27  @servicoemail.com.br    antonio@servicoemail.com.br
3   FRANCISCO        36  @servicoemail.com.br  francisco@servicoemail.com.br
4      CARLOS        30  @dominioemail.com.br     carlos@dominioemail.com.br
5       PAULO        28  @dominioemail.com.br      paulo@dominioemail.com.br
6       PEDRO        15  @dominioemail.com.br      pedro@dominioemail.com.br
7       LUCAS         1  @servicoemail.com.br      lucas@servicoemail.com.br
8        LUIZ        10  @servicoemail.com.br       luiz@servicoemail.com.br
9      MARCOS        16  @dominioemail.com.br     marcos@dominioemail.com.br
10       LUIS        31  @dominioemail.com.br       luis@dominioemail.com.br
11    GABRIEL        37  @servicoemail.com.br    gabriel@servicoemail.com.br
12     RAFAEL        33  @servicoemail.com.br     rafael@servicoemail.com.br
13     DANIEL        34  @dominioemail.com.br     daniel@dominioemail.com.br
14    MARCELO        23  @dominioemail.com.br    marcelo@dominioemail.com.br
15      BRUNO        20  @dominioemail.com.br      bruno@dominioemail.com.br
16    EDUARDO        18  @servicoemail.com.br    eduardo@servicoemail.com.br
17     FELIPE        35  @dominioemail.com.br     felipe@dominioemail.com.br
18   RAIMUNDO        29  @servicoemail.com.br   raimundo@servicoemail.com.br
19    RODRIGO         3  @servicoemail.com.br    rodrigo@servicoemail.com.br

### Cadastrando dados importados

In [212]:
#no curso ele utilizou o comando !pip3 para instalar o html e lxml

In [213]:
import html5lib

In [214]:
url = ('http://tabela-cursos.herokuapp.com/index.html')
cursos = pd.read_html(url)

cursos

[                          Nome do curso
 0                 Lógica de programação
 1                         Java para Web
 2                           C# para Web
 3                         Ruby on Rails
 4                      Cursos de Python
 5                         PHP com MySql
 6                         .NET para web
 7            Novas integrações com Java
 8                          TDD com Java
 9                   Código limpo com C#
 10  Preparatório para certificação Java
 11                      Hardware básico
 12                Persistência com .NET
 13                  Desenvolvendo jogos
 14                     Análise de dados
 15                   Estatística básica
 16                  Internet das coisas
 17                Programação funcional
 18                Boas práticas em Java
 19          Orientação objetos com Java]

In [215]:
type(cursos)

list

In [216]:
#converte esta lista em um df
cursos = cursos[0]

cursos

                          Nome do curso
0                 Lógica de programação
1                         Java para Web
2                           C# para Web
3                         Ruby on Rails
4                      Cursos de Python
5                         PHP com MySql
6                         .NET para web
7            Novas integrações com Java
8                          TDD com Java
9                   Código limpo com C#
10  Preparatório para certificação Java
11                      Hardware básico
12                Persistência com .NET
13                  Desenvolvendo jogos
14                     Análise de dados
15                   Estatística básica
16                  Internet das coisas
17                Programação funcional
18                Boas práticas em Java
19          Orientação objetos com Java

In [217]:
type(cursos)

pandas.core.frame.DataFrame

### Alterando nomes de colunas e linhas

In [218]:
cursos = cursos.rename(columns= {'Nome do curso' : 'Cursos'})
cursos

                                 Cursos
0                 Lógica de programação
1                         Java para Web
2                           C# para Web
3                         Ruby on Rails
4                      Cursos de Python
5                         PHP com MySql
6                         .NET para web
7            Novas integrações com Java
8                          TDD com Java
9                   Código limpo com C#
10  Preparatório para certificação Java
11                      Hardware básico
12                Persistência com .NET
13                  Desenvolvendo jogos
14                     Análise de dados
15                   Estatística básica
16                  Internet das coisas
17                Programação funcional
18                Boas práticas em Java
19          Orientação objetos com Java

In [219]:
cursos['id'] = cursos.index + 1 #criando id para os cursos, porem o index, vai começar do 1

cursos

                                 Cursos  id
0                 Lógica de programação   1
1                         Java para Web   2
2                           C# para Web   3
3                         Ruby on Rails   4
4                      Cursos de Python   5
5                         PHP com MySql   6
6                         .NET para web   7
7            Novas integrações com Java   8
8                          TDD com Java   9
9                   Código limpo com C#  10
10  Preparatório para certificação Java  11
11                      Hardware básico  12
12                Persistência com .NET  13
13                  Desenvolvendo jogos  14
14                     Análise de dados  15
15                   Estatística básica  16
16                  Internet das coisas  17
17                Programação funcional  18
18                Boas práticas em Java  19
19          Orientação objetos com Java  20

In [220]:
#mudando a coluna ID para ser o index
cursos = cursos.set_index('id')

cursos

                                 Cursos
id
1                 Lógica de programação
2                         Java para Web
3                           C# para Web
4                         Ruby on Rails
5                      Cursos de Python
6                         PHP com MySql
7                         .NET para web
8            Novas integrações com Java
9                          TDD com Java
10                  Código limpo com C#
11  Preparatório para certificação Java
12                      Hardware básico
13                Persistência com .NET
14                  Desenvolvendo jogos
15                     Análise de dados
16                   Estatística básica
17                  Internet das coisas
18                Programação funcional
19                Boas práticas em Java
20          Orientação objetos com Java

### Matriculando alunos nos cursos

In [221]:
#quantos cursos cada aluno pode fazer?
#criar a quantidade de matriculas que cada aluno possui
nomes['matriculas'] = np.random.exponential(size = total_alunos).astype(int)

In [222]:
nomes

,nome,id_aluno,dominio,email,matriculas
0,MARIA,7,@dominioemail.com.br,maria@dominioemail.com.br,2
1,ANA,11,@servicoemail.com.br,ana@servicoemail.com.br,0
2,FRANCISCA,13,@servicoemail.com.br,francisca@servicoemail.com.br,1
3,ANTONIA,39,@servicoemail.com.br,antonia@servicoemail.com.br,0
4,ADRIANA,6,@dominioemail.com.br,adriana@dominioemail.com.br,0
5,JULIANA,12,@servicoemail.com.br,juliana@servicoemail.com.br,0
6,MARCIA,24,@servicoemail.com.br,marcia@servicoemail.com.br,0
7,FERNANDA,2,@dominioemail.com.br,fernanda@dominioemail.com.br,0
8,PATRICIA,14,@dominioemail.com.br,patricia@dominioemail.com.br,1
9,ALINE,21,@servicoemail.com.br,aline@servicoemail.com.br,0
10,SANDRA,9,@servicoemail.com.br,sandra@servicoemail.com.br,1
11,CAMILA,38,@dominioemail.com.br,camila@dominioemail.com.br,0
12,AMANDA,25,@servicoemail.com.br,amanda@servicoemail.com.br,0
13,BRUNA,8,@servicoemail.com.br,bruna@servicoemail.com.br,2
14,JESSICA,19,@servicoemail.com.br,jessica@servicoemail.com.br,1
15,LETICIA,40,@servicoemail.com.br,leticia@servicoemail.com.br,0
16,JULIA,4,@servicoemail.com.br,julia@servicoemail.com.br,0
17,LUCIANA,32,@servicoemail.com.br,luciana@servicoemail.com.br,0
18,VANESSA,22,@servicoemail.com.br,vanessa@servicoemail.com.br,0
19,MARIANA,17,@dominioemail.com.br,mariana@dominioemail.com.br,1
0,JOSE,26,@servicoemail.com.br,jose@servicoemail.com.br,5
1,JOAO,5,@servicoemail.com.br,joao@servicoemail.com.br,0
2,ANTONIO,27,@servicoemail.com.br,antonio@servicoemail.com.br,1
3,FRANCISCO,36,@servicoemail.com.br,francisco@servicoemail.com.br,0
4,CARLOS,30,@dominioemail.com.br,carlos@dominioemail.com.br,1
5,PAULO,28,@dominioemail.com.br,paulo@dominioemail.com.br,0
6,PEDRO,15,@dominioemail.com.br,pedro@dominioemail.com.br,0
7,LUCAS,1,@servicoemail.com.br,lucas@servicoemail.com.br,0
8,LUIZ,10,@servicoemail.com.br,luiz@servicoemail.com.br,0
9,MARCOS,16,@dominioemail.com.br,marcos@dominioemail.com.br,0
10,LUIS,31,@dominioemail.com.br,luis@dominioemail.com.br,1
11,GABRIEL,37,@servicoemail.com.br,gabriel@servicoemail.com.br,0
12,RAFAEL,33,@servicoemail.com.br,rafael@servicoemail.com.br,0
13,DANIEL,34,@dominioemail.com.br,daniel@dominioemail.com.br,0
14,MARCELO,23,@dominioemail.com.br,marcelo@dominioemail.com.br,1
15,BRUNO,20,@dominioemail.com.br,bruno@dominioemail.com.br,1
16,EDUARDO,18,@servicoemail.com.br,eduardo@servicoemail.com.br,0
17,FELIPE,35,@dominioemail.com.br,felipe@dominioemail.com.br,1
18,RAIMUNDO,29,@servicoemail.com.br,raimundo@servicoemail.com.br,0
19,RODRIGO,3,@servicoemail.com.br,rodrigo@servicoemail.com.br,0

In [223]:
#Não quero dexar 0 como ooçoes de matriculas, deixar no minimo 1
nomes['matriculas'] = np.ceil(np.random.exponential(size = total_alunos)).astype(int)

nomes

,nome,id_aluno,dominio,email,matriculas
0,MARIA,7,@dominioemail.com.br,maria@dominioemail.com.br,1
1,ANA,11,@servicoemail.com.br,ana@servicoemail.com.br,1
2,FRANCISCA,13,@servicoemail.com.br,francisca@servicoemail.com.br,2
3,ANTONIA,39,@servicoemail.com.br,antonia@servicoemail.com.br,1
4,ADRIANA,6,@dominioemail.com.br,adriana@dominioemail.com.br,1
5,JULIANA,12,@servicoemail.com.br,juliana@servicoemail.com.br,1
6,MARCIA,24,@servicoemail.com.br,marcia@servicoemail.com.br,1
7,FERNANDA,2,@dominioemail.com.br,fernanda@dominioemail.com.br,1
8,PATRICIA,14,@dominioemail.com.br,patricia@dominioemail.com.br,5
9,ALINE,21,@servicoemail.com.br,aline@servicoemail.com.br,3
10,SANDRA,9,@servicoemail.com.br,sandra@servicoemail.com.br,1
11,CAMILA,38,@dominioemail.com.br,camila@dominioemail.com.br,1
12,AMANDA,25,@servicoemail.com.br,amanda@servicoemail.com.br,1
13,BRUNA,8,@servicoemail.com.br,bruna@servicoemail.com.br,3
14,JESSICA,19,@servicoemail.com.br,jessica@servicoemail.com.br,5
15,LETICIA,40,@servicoemail.com.br,leticia@servicoemail.com.br,1
16,JULIA,4,@servicoemail.com.br,julia@servicoemail.com.br,1
17,LUCIANA,32,@servicoemail.com.br,luciana@servicoemail.com.br,2
18,VANESSA,22,@servicoemail.com.br,vanessa@servicoemail.com.br,1
19,MARIANA,17,@dominioemail.com.br,mariana@dominioemail.com.br,2
0,JOSE,26,@servicoemail.com.br,jose@servicoemail.com.br,1
1,JOAO,5,@servicoemail.com.br,joao@servicoemail.com.br,1
2,ANTONIO,27,@servicoemail.com.br,antonio@servicoemail.com.br,3
3,FRANCISCO,36,@servicoemail.com.br,francisco@servicoemail.com.br,5
4,CARLOS,30,@dominioemail.com.br,carlos@dominioemail.com.br,1
5,PAULO,28,@dominioemail.com.br,paulo@dominioemail.com.br,1
6,PEDRO,15,@dominioemail.com.br,pedro@dominioemail.com.br,1
7,LUCAS,1,@servicoemail.com.br,lucas@servicoemail.com.br,1
8,LUIZ,10,@servicoemail.com.br,luiz@servicoemail.com.br,1
9,MARCOS,16,@dominioemail.com.br,marcos@dominioemail.com.br,1
10,LUIS,31,@dominioemail.com.br,luis@dominioemail.com.br,1
11,GABRIEL,37,@servicoemail.com.br,gabriel@servicoemail.com.br,3
12,RAFAEL,33,@servicoemail.com.br,rafael@servicoemail.com.br,1
13,DANIEL,34,@dominioemail.com.br,daniel@dominioemail.com.br,1
14,MARCELO,23,@dominioemail.com.br,marcelo@dominioemail.com.br,2
15,BRUNO,20,@dominioemail.com.br,bruno@dominioemail.com.br,2
16,EDUARDO,18,@servicoemail.com.br,eduardo@servicoemail.com.br,1
17,FELIPE,35,@dominioemail.com.br,felipe@dominioemail.com.br,2
18,RAIMUNDO,29,@servicoemail.com.br,raimundo@servicoemail.com.br,2
19,RODRIGO,3,@servicoemail.com.br,rodrigo@servicoemail.com.br,1

In [224]:
#quero aumentar a quantidade de cursos para cada aluno
nomes['matriculas'] = np.ceil(np.random.exponential(size = total_alunos) * 1.5).astype(int)

nomes

,nome,id_aluno,dominio,email,matriculas
0,MARIA,7,@dominioemail.com.br,maria@dominioemail.com.br,3
1,ANA,11,@servicoemail.com.br,ana@servicoemail.com.br,1
2,FRANCISCA,13,@servicoemail.com.br,francisca@servicoemail.com.br,1
3,ANTONIA,39,@servicoemail.com.br,antonia@servicoemail.com.br,2
4,ADRIANA,6,@dominioemail.com.br,adriana@dominioemail.com.br,1
5,JULIANA,12,@servicoemail.com.br,juliana@servicoemail.com.br,2
6,MARCIA,24,@servicoemail.com.br,marcia@servicoemail.com.br,4
7,FERNANDA,2,@dominioemail.com.br,fernanda@dominioemail.com.br,2
8,PATRICIA,14,@dominioemail.com.br,patricia@dominioemail.com.br,1
9,ALINE,21,@servicoemail.com.br,aline@servicoemail.com.br,1
10,SANDRA,9,@servicoemail.com.br,sandra@servicoemail.com.br,3
11,CAMILA,38,@dominioemail.com.br,camila@dominioemail.com.br,2
12,AMANDA,25,@servicoemail.com.br,amanda@servicoemail.com.br,1
13,BRUNA,8,@servicoemail.com.br,bruna@servicoemail.com.br,2
14,JESSICA,19,@servicoemail.com.br,jessica@servicoemail.com.br,3
15,LETICIA,40,@servicoemail.com.br,leticia@servicoemail.com.br,1
16,JULIA,4,@servicoemail.com.br,julia@servicoemail.com.br,4
17,LUCIANA,32,@servicoemail.com.br,luciana@servicoemail.com.br,3
18,VANESSA,22,@servicoemail.com.br,vanessa@servicoemail.com.br,2
19,MARIANA,17,@dominioemail.com.br,mariana@dominioemail.com.br,3
0,JOSE,26,@servicoemail.com.br,jose@servicoemail.com.br,1
1,JOAO,5,@servicoemail.com.br,joao@servicoemail.com.br,3
2,ANTONIO,27,@servicoemail.com.br,antonio@servicoemail.com.br,3
3,FRANCISCO,36,@servicoemail.com.br,francisco@servicoemail.com.br,4
4,CARLOS,30,@dominioemail.com.br,carlos@dominioemail.com.br,1
5,PAULO,28,@dominioemail.com.br,paulo@dominioemail.com.br,1
6,PEDRO,15,@dominioemail.com.br,pedro@dominioemail.com.br,1
7,LUCAS,1,@servicoemail.com.br,lucas@servicoemail.com.br,1
8,LUIZ,10,@servicoemail.com.br,luiz@servicoemail.com.br,1
9,MARCOS,16,@dominioemail.com.br,marcos@dominioemail.com.br,2
10,LUIS,31,@dominioemail.com.br,luis@dominioemail.com.br,1
11,GABRIEL,37,@servicoemail.com.br,gabriel@servicoemail.com.br,1
12,RAFAEL,33,@servicoemail.com.br,rafael@servicoemail.com.br,3
13,DANIEL,34,@dominioemail.com.br,daniel@dominioemail.com.br,1
14,MARCELO,23,@dominioemail.com.br,marcelo@dominioemail.com.br,3
15,BRUNO,20,@dominioemail.com.br,bruno@dominioemail.com.br,1
16,EDUARDO,18,@servicoemail.com.br,eduardo@servicoemail.com.br,2
17,FELIPE,35,@dominioemail.com.br,felipe@dominioemail.com.br,5
18,RAIMUNDO,29,@servicoemail.com.br,raimundo@servicoemail.com.br,2
19,RODRIGO,3,@servicoemail.com.br,rodrigo@servicoemail.com.br,1

In [225]:
nomes.matriculas.describe().round(2)

count    40.00
mean      2.00
std       1.11
min       1.00
25%       1.00
50%       2.00
75%       3.00
max       5.00
Name: matriculas, dtype: float64

In [226]:
#visulizar a distribuição
import seaborn as sns

In [227]:
sns.displot(nomes.matriculas)

In [228]:
nomes.matriculas.value_counts()

1    18
3     9
2     9
4     3
5     1
Name: matriculas, dtype: int64

### Selecionando cursos para os alunos

In [229]:
todas_matriculas = [] #definindo
x = np.random.rand(20) #distribui de forma aleatoria
prob = x / sum(x) #divide X pela soma de X

In [230]:
#Buscar em cada linha sobre o aluno
#atribuindo os cursos de maneira aleatoria
for index, row in nomes.iterrows(): #funçao para devolver linha a linha
    id = row.id_aluno #qual o id do aluno
    matriculas = row.matriculas #quantas matriculas ele possui
    for i in range(matriculas): #eu quero um I que vá até a quantidade de matriculas que possuo
        mat = [id, np.random.choice(cursos.index, p = prob)] #definindo qual curso pegara
        todas_matriculas.append(mat)

matriculas = pd.DataFrame(todas_matriculas, columns = ['id_aluno', 'id_curso'])

matriculas #o id_aluno esta cadastrado no id_curso

    id_aluno  id_curso
0          7        12
1          7        10
2          7        17
3         11        10
4         13        12
..       ...       ...
75        35        20
76        35        18
77        29        15
78        29        20
79         3        10

[80 rows x 2 columns]

In [231]:
matriculas.groupby('id_curso').count().join(cursos['Cursos'])
#definindo quantos alunos tem em cada curso

          id_aluno                       Cursos
id_curso
1                9        Lógica de programação
2                4                Java para Web
3                3                  C# para Web
5                9             Cursos de Python
7                7                .NET para web
8                5   Novas integrações com Java
10               6          Código limpo com C#
12               7              Hardware básico
13               3        Persistência com .NET
14               4          Desenvolvendo jogos
15               3             Análise de dados
17               5          Internet das coisas
18               5        Programação funcional
19               1        Boas práticas em Java
20               9  Orientação objetos com Java

In [232]:
#renomeando coluna
matricula_por_curso = matriculas.groupby('id_curso').count().join(cursos['Cursos']).rename(columns= {'id_aluno' : 'Quant_alunos'})

In [233]:
matricula_por_curso

          Quant_alunos                       Cursos
id_curso
1                    9        Lógica de programação
2                    4                Java para Web
3                    3                  C# para Web
5                    9             Cursos de Python
7                    7                .NET para web
8                    5   Novas integrações com Java
10                   6          Código limpo com C#
12                   7              Hardware básico
13                   3        Persistência com .NET
14                   4          Desenvolvendo jogos
15                   3             Análise de dados
17                   5          Internet das coisas
18                   5        Programação funcional
19                   1        Boas práticas em Java
20                   9  Orientação objetos com Java

In [234]:
nomes.sample(3)

,nome,id_aluno,dominio,email,matriculas
13,BRUNA,8,@servicoemail.com.br,bruna@servicoemail.com.br,2
0,JOSE,26,@servicoemail.com.br,jose@servicoemail.com.br,1
18,RAIMUNDO,29,@servicoemail.com.br,raimundo@servicoemail.com.br,2

### Saidas em outros formatos

In [235]:
matricula_por_curso.to_csv('matriculas_por_curso.csv', index = False)

In [236]:
mat_json = matricula_por_curso.to_json()

mat_json

'{"Quant_alunos":{"1":9,"2":4,"3":3,"5":9,"7":7,"8":5,"10":6,"12":7,"13":3,"14":4,"15":3,"17":5,"18":5,"19":1,"20":9},"Cursos":{"1":"L\\u00f3gica de programa\\u00e7\\u00e3o","2":"Java para Web","3":"C# para Web","5":"Cursos de Python","7":".NET para web","8":"Novas integra\\u00e7\\u00f5es com Java","10":"C\\u00f3digo limpo com C#","12":"Hardware b\\u00e1sico","13":"Persist\\u00eancia com .NET","14":"Desenvolvendo jogos","15":"An\\u00e1lise de dados","17":"Internet das coisas","18":"Programa\\u00e7\\u00e3o funcional","19":"Boas pr\\u00e1ticas em Java","20":"Orienta\\u00e7\\u00e3o objetos com Java"}}'

In [237]:
mat_html = matricula_por_curso.to_html()

print(mat_html) #se levar o codigo para o visual studio e salvar, vai gerar a tabela.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Quant_alunos</th>
      <th>Cursos</th>
    </tr>
    <tr>
      <th>id_curso</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>9</td>
      <td>Lógica de programação</td>
    </tr>
    <tr>
      <th>2</th>
      <td>4</td>
      <td>Java para Web</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>C# para Web</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>Cursos de Python</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>.NET para web</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>Novas integrações com Java</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>Código limpo com C#</td>
    </tr>
    <tr>
      <th>12</th>
      <td>7</td>
      <td>Hardware básico</td>
    </tr>
    <tr>
      <th>13</th>
      <td>3</td>
      <td>Persistência com .NET</td>
    </tr>
    <tr>
      <th>14</th>
      <td>4</td>
      <td>Desenvolvendo jogos</td>
    </tr>
    <tr>
      <th>15</th>
      <td>3</td>
      <td>Análise de dados</td>
    </tr>
    <tr>
      <th>17</th>
      <td>5</td>
      <td>Internet das coisas</td>
    </tr>
    <tr>
      <th>18</th>
      <td>5</td>
      <td>Programação funcional</td>
    </tr>
    <tr>
      <th>19</th>
      <td>1</td>
      <td>Boas práticas em Java</td>
    </tr>
    <tr>
      <th>20</th>
      <td>9</td>
      <td>Orientação objetos com Java</td>
    </tr>
  </tbody>
</table>

#### salvando em um banco de dados SQL Local

In [238]:
from sqlalchemy import create_engine, MetaData, Table

In [239]:
#criar a engine com o caminho onde o banco de dados esta
engine = create_engine('sqlite:///:memory:')
                        #para salvar na memoria local
    
engine

Engine(sqlite:///:memory:)

In [240]:
type(engine)

sqlalchemy.engine.base.Engine

In [241]:
matricula_por_curso.head(1)

          Quant_alunos                 Cursos
id_curso
1                    9  Lógica de programação

In [242]:
#transformar em sql
matricula_por_curso.to_sql('matriculas', engine)

15

In [243]:
print(engine.table_names())

['matriculas']

C:\Users\Notebook Lenovo\AppData\Local\Temp\ipykernel_15372\1043810782.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  print(engine.table_names())

In [244]:
#criar query SQL para realizar uma busca
query = 'select * from matriculas where quant_alunos < 7' #trazer os nomes dos cursos que tenham pessoas matriculadas menor do que 20

In [245]:
pd.read_sql(query, engine)

   id_curso  Quant_alunos                      Cursos
0         2             4               Java para Web
1         3             3                 C# para Web
2         8             5  Novas integrações com Java
3        10             6         Código limpo com C#
4        13             3       Persistência com .NET
5        14             4         Desenvolvendo jogos
6        15             3            Análise de dados
7        17             5         Internet das coisas
8        18             5       Programação funcional
9        19             1       Boas práticas em Java

In [246]:
muitas_matriculas = pd.read_sql_table('matriculas', engine, columns = ['Cursos', 'Quant_alunos'])

muitas_matriculas

                         Cursos  Quant_alunos
0         Lógica de programação             9
1                 Java para Web             4
2                   C# para Web             3
3              Cursos de Python             9
4                 .NET para web             7
5    Novas integrações com Java             5
6           Código limpo com C#             6
7               Hardware básico             7
8         Persistência com .NET             3
9           Desenvolvendo jogos             4
10             Análise de dados             3
11          Internet das coisas             5
12        Programação funcional             5
13        Boas práticas em Java             1
14  Orientação objetos com Java             9

In [247]:
muitas_matriculas.query('Quant_alunos > 6') #selecionando alguns detalhes da tabela

                         Cursos  Quant_alunos
0         Lógica de programação             9
3              Cursos de Python             9
4                 .NET para web             7
7               Hardware básico             7
14  Orientação objetos com Java             9

In [248]:
muitas_matriculas = muitas_matriculas.query('Quant_alunos > 6') 
#uma vez que defini o corte, posso salvar a nova variavel

In [249]:
muitas_matriculas

                         Cursos  Quant_alunos
0         Lógica de programação             9
3              Cursos de Python             9
4                 .NET para web             7
7               Hardware básico             7
14  Orientação objetos com Java             9

#### Escrevendo no banco

In [250]:
muitas_matriculas.to_sql('muitas_matriculas', con = engine)

5

In [251]:
print(engine.table_names())

['matriculas', 'muitas_matriculas']

C:\Users\Notebook Lenovo\AppData\Local\Temp\ipykernel_15372\1043810782.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  print(engine.table_names())

In [252]:
matricula_por_curso

          Quant_alunos                       Cursos
id_curso
1                    9        Lógica de programação
2                    4                Java para Web
3                    3                  C# para Web
5                    9             Cursos de Python
7                    7                .NET para web
8                    5   Novas integrações com Java
10                   6          Código limpo com C#
12                   7              Hardware básico
13                   3        Persistência com .NET
14                   4          Desenvolvendo jogos
15                   3             Análise de dados
17                   5          Internet das coisas
18                   5        Programação funcional
19                   1        Boas práticas em Java
20                   9  Orientação objetos com Java

In [253]:
matriculas

    id_aluno  id_curso
0          7        12
1          7        10
2          7        17
3         11        10
4         13        12
..       ...       ...
75        35        20
76        35        18
77        29        15
78        29        20
79         3        10

[80 rows x 2 columns]

In [254]:
#filtrar todos os ID que estão matriculados no curso 20
id_curso = 20
proxima_turma = matriculas.query(f'id_curso == {id_curso}')

proxima_turma #id de todos os alunos que irao fazer o curso 20

    id_aluno  id_curso
10        24        20
13        24        20
26        19        20
31         4        20
35        32        20
44         5        20
51        36        20
75        35        20
78        29        20

In [255]:
#mostrar os nomes do aluno
nomes.sample(3)

,nome,id_aluno,dominio,email,matriculas
7,LUCAS,1,@servicoemail.com.br,lucas@servicoemail.com.br,1
3,FRANCISCO,36,@servicoemail.com.br,francisco@servicoemail.com.br,4
5,JULIANA,12,@servicoemail.com.br,juliana@servicoemail.com.br,2

In [256]:
#juntar as tabelas com id_aluno
proxima_turma.set_index('id_aluno').join(nomes.set_index('id_aluno'))
#vai mostrar todos os alunos que vao cursar o curso 20

,id_curso,nome,dominio,email,matriculas
id_aluno,,,,,
4,20,JULIA,@servicoemail.com.br,julia@servicoemail.com.br,4
5,20,JOAO,@servicoemail.com.br,joao@servicoemail.com.br,3
19,20,JESSICA,@servicoemail.com.br,jessica@servicoemail.com.br,3
24,20,MARCIA,@servicoemail.com.br,marcia@servicoemail.com.br,4
24,20,MARCIA,@servicoemail.com.br,marcia@servicoemail.com.br,4
29,20,RAIMUNDO,@servicoemail.com.br,raimundo@servicoemail.com.br,2
32,20,LUCIANA,@servicoemail.com.br,luciana@servicoemail.com.br,3
35,20,FELIPE,@dominioemail.com.br,felipe@dominioemail.com.br,5
36,20,FRANCISCO,@servicoemail.com.br,francisco@servicoemail.com.br,4

In [257]:
#tabela que vai para a portaria da escola visualizar quem esta na turma do curso 20
curso20 = proxima_turma.set_index('id_aluno').join(nomes.set_index('id_aluno'))[['nome']]

In [258]:
curso20

               nome
id_aluno
4             JULIA
5              JOAO
19          JESSICA
24           MARCIA
24           MARCIA
29         RAIMUNDO
32          LUCIANA
35           FELIPE
36        FRANCISCO

In [259]:
type(curso20)

pandas.core.frame.DataFrame

In [260]:
cursos

                                 Cursos
id
1                 Lógica de programação
2                         Java para Web
3                           C# para Web
4                         Ruby on Rails
5                      Cursos de Python
6                         PHP com MySql
7                         .NET para web
8            Novas integrações com Java
9                          TDD com Java
10                  Código limpo com C#
11  Preparatório para certificação Java
12                      Hardware básico
13                Persistência com .NET
14                  Desenvolvendo jogos
15                     Análise de dados
16                   Estatística básica
17                  Internet das coisas
18                Programação funcional
19                Boas práticas em Java
20          Orientação objetos com Java

In [261]:
id_curso

20

In [262]:
#onde mostra o nome da coluna NOME, alterar para o nome do curso
#localizar o curso que estou trabalhando (id_curso) na tabela cursos
nome_curso = cursos.loc[id_curso]

nome_curso

Cursos    Orientação objetos com Java
Name: 20, dtype: object

In [263]:
nome_curso = nome_curso.Cursos #pegando apenas o conteudo que desejo

nome_curso

'Orientação objetos com Java'

In [268]:
curso20 = curso20.rename(columns = {f'nome' : 'Curso {nome_curso}'})

curso20

         Curso Orientação objetos com Java
id_aluno
4                                    JULIA
5                                     JOAO
19                                 JESSICA
24                                  MARCIA
24                                  MARCIA
29                                RAIMUNDO
32                                 LUCIANA
35                                  FELIPE
36                               FRANCISCO

In [269]:
#exportar para excel
curso20.to_excel('alunos_curso20.xlsx', index = False)