In [10]:
import pandas as pd

dados = pd.read_csv('Aulas Alura/dados/aluguel_residencial.csv', sep = ';')

dados

,tipo,bairro,quartos,vagas,suites,area,valor,condominio,iptu,valor m2,tipo agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,42.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,70.00,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
...,...,...,...,...,...,...,...,...,...,...,...
21821,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,12.86,Apartamento
21822,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,29.63,Apartamento
21823,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,23.08,Apartamento
21824,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,29.17,Apartamento
21825,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,42.86,Apartamento

In [11]:
# Contar a quantidade de imoveis que tem de 1 ou 2 quartos
# depois de 3 e 4
# depois de 5 e 6
# depois de 7 ou mais

In [12]:
# minimo, maximo, limites (baseados na informaçao acima)
classes = [0, 2, 4, 6, 100]

In [15]:
quartos = pd.cut(dados['quartos'], classes)

quartos

0        (0.0, 2.0]
1        (0.0, 2.0]
2        (0.0, 2.0]
3        (0.0, 2.0]
4        (0.0, 2.0]
            ...
21821    (0.0, 2.0]
21822           NaN
21823    (2.0, 4.0]
21824    (0.0, 2.0]
21825    (0.0, 2.0]
Name: quartos, Length: 21826, dtype: category
Categories (4, interval[int64, right]): [(0, 2] < (2, 4] < (4, 6] < (6, 100]]

In [18]:
#gerar visualização da tabela de frequencia
pd.value_counts(quartos)
#os valores que aparecerem na esquerda, começam na proxima contagem (ex: 0, 2 -> vai contar 1 e 2 quartos)

(0, 2]      11250
(2, 4]       9681
(4, 6]        686
(6, 100]       50
Name: quartos, dtype: int64

In [19]:
labels = ['1 e 2 quartos', '3 e 4 quartos', '5 e 6 quartos', '7 ou mais quartos']
quartos = pd.cut(dados['quartos'], classes, labels = labels) 
#mesmo comando anteriormente, porem renomeando o indice

pd.value_counts(quartos)

1 e 2 quartos        11250
3 e 4 quartos         9681
5 e 6 quartos          686
7 ou mais quartos       50
Name: quartos, dtype: int64

In [21]:
# no exemplo dado, nao foi incluido o 0 quartos, mas agora vou considerar, pois pode haver lugar sem quarto
labels = ['0 até 2 quartos', '3 e 4 quartos', '5 e 6 quartos', '7 ou mais quartos']
quartos = pd.cut(dados['quartos'], classes, labels = labels, include_lowest= True) 

pd.value_counts(quartos)

0 até 2 quartos      11409
3 e 4 quartos         9681
5 e 6 quartos          686
7 ou mais quartos       50
Name: quartos, dtype: int64